/* fonts */
@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Medium.woff2") format("woff2"), url("../fonts/Bitter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title-reset {
  margin: 0;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.descr-reset {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


.mnemo__modal-window::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mnemo__modal-window::-webkit-scrollbar-track {
  background-color: #dfdcdc;
}

.mnemo__modal-window::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 20px;
}

.body {
  margin: 0;
}

.mnemo__title {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.mnemo__title-2 {
  position: static;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.mnemo {
  margin-left: 10px;
  position: relative;
  width: 1200px;
}

.mnemo__text {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  color: green;
  text-align: center;
  z-index: 1;
}

.current-param__title-span {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.mnemo__img {
  width: 1200px;
}

.mnemo__param {
  padding: 3px 7px;
  position: absolute;
  z-index: 1;
  background-color: rgb(218, 215, 215);
  border-radius: 7px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
  text-align: center;
}

.mnemo__uroven {
  position: absolute;
  margin: 0;
  z-index: 1;
  min-width: 37px;
}

.mnemo__uroven-text {
  font-size: 16px;
  line-height: 14px;
  color: rgb(47, 0, 255);
  font-weight: 600;
}

.mnemo__uroven-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mnemo__uroven-naimenov {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: black;
}

.mnemo__param-text {
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: blue;
}

.mnemo__param-naimenov {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: black;
}

.mnemo__param-descr {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: rgba(10, 59, 10);
  text-align: center;
}

/* parameters */
.davl-vhod-ustanivki {
  left: 4%;
  top: 29.5%;
}

.rashod-vody-na-ustanovky {
  left: 4%;
  top: 18%;
}

.davl-posle-nasosov-1-1-2-3 {
  left: 22.5%;
  top: 6%;
}

.uroven-e1-1 {
  width: 57px;
  right: 30.55%;
  bottom: 41%;
  padding: 2px;
}

.uroven-e1-2 {
  width: 57px;
  right: 17.6%;
  bottom: 41%;
  padding: 2px;
}

.rashod-vody-na-promyvky {
  right: 0.5%;
  top: 48%;
}

.davl-posle-nasosov-2-1-2 {
  padding: 2px;
  right: 7.5%;
  bottom: 24.5%;
}

.davl-posle-nasosov-3-1-2 {
  padding: 2px;
  right: 7.5%;
  bottom: 17%;
}

.kontrol-im-1 {
  right: 41.5%;
  bottom: 51%;
}

.zadanie-uroven-e1-1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 2px;
  width: 31px;
  right: 41.5%;
  bottom: 42%;
}

.n1-1-percent {
  width: 50px;
  padding: 1px 4px;
  left: 14.3%;
  top: 12%;
}

.n1-1-hz {
  width: 57px;
  padding: 1px 4px;
  left: 20.5%;
  top: 12%;
}

.n1-2-percent {
  width: 50px;
  padding: 1px 4px;
  left: 14.3%;
  top: 18%;
}

.n1-2-hz {
  width: 57px;
  padding: 1px 4px;
  left: 20.5%;
  top: 18%;
}

.n2-1-percent {
  width: 57px;
  padding: 0 4px;
  right: 21.5%;
  bottom: 27.5%;
}

.n2-1-hz {
  width: 57px;
  padding: 0 4px;
  right: 15.5%;
  bottom: 27.5%;
}

.n2-2-percent {
  width: 57px;
  padding: 0 4px;
  right: 21.5%;
  bottom: 21.5%;
}

.n2-2-hz {
  width: 57px;
  padding: 0 4px;
  right: 15.5%;
  bottom: 21.5%;
}




/* descriptions */
.pomeshenie-2-text {
  max-width: 200px;
  font-size: 12px;
  right: 8%;
  bottom: 28.8%;
}

.zadanie-uroven-e1-1-2-text {
  right: 41.5%;
  bottom: 38.5%;
  font-size: 14px;
}

.kontrol-im-1-text {
  right: 42%;
  bottom: 54%;
  font-size: 12px;
}


.f1-1-text {
  left: 33.5%;
  top: 21%;
}

.f1-2-text {
  left: 47.2%;
  top: 21%;
}

.f1-3-text {
  right: 36.5%;
  top: 21%;
}

.f1-4-text {
  right: 22.7%;
  top: 21%;
}

.f2-1-text {
  left: 18%;
  bottom: 43%;
}

.f2-2-text {
  left: 31.5%;
  bottom: 43%;
}

.f2-3-text {
  left: 45%;
  bottom: 43%;
}

.e1-1-text {
  right: 31.8%;
  bottom: 46%;
}

.e1-2-text {
  right: 19%;
  bottom: 46%;
}

.n1-1-text {
  left: 26.5%;
  top: 15.2%;
}

.n1-2-text {
  left: 26.5%;
  top: 21.2%;
}

.n1-3-text {
  left: 26.5%;
  top: 27.2%;
}

.n2-1-text {
  right: 28%;
  bottom: 24.5%;
}

.n2-2-text {
  right: 28%;
  bottom: 19%;
}

.n3-1-text {
  right: 28%;
  bottom: 11.5%;
}

.n3-2-text {
  right: 28%;
  bottom: 6.5%;
}

.rashod-na-promyvku-text {
  right: 0;
  bottom: 52.5%;
  max-width: 72px;
}

.rashod-na-vhode-text {
  top: 16%;
  left: 4%;
}

.davl-vhod-ustanivki-text {
  top: 33%;
  left: 4.5%;
}

.davl-posle-nasosov-1-1-2-3-text {
  top: 4%;
  left: 21%;
}


.davl-pered-f3-1-7-text {
  max-width: 88px;
  bottom: 24.2%;
  right: 0%;
}

.davl-posle-nasosov-3-1-2-text {
  max-width: 72px;
  bottom: 14%;
  right: 0%;
}

/* position parametrs HVO2 */

.rashod-vody-filtr {
  padding: 2px 3px;
  top: 4.5%;
  left: 49.2%;
  min-width: 67px;
}

.rashod-kanalizacia {
  padding: 2px 3px;
  bottom: 30.5%;
  left: 47.8%;
  min-width: 67px;
}

.davlenie-posle-filtrov {
  top: 31%;
  right: 44%;
  min-width: 100px;
}

.im2 {
  top: 4.5%;
  right: 31.5%;
  min-width: 55px;
}

.davlenie-carbon {
  bottom: 2%;
  left: 88%;
}

.davlenie-k265 {
  bottom: 2%;
  left: 54.5%;
}

.davlenie-k312 {
  bottom: 2%;
  left: 18%;
}

.temper-e2-1-ug {
  top: 20.5%;
  right: 41%;
  min-width: 70px;
}

.temper-e2-1-sever {
  top: 20.5%;
  right: 25.1%;
  min-width: 70px;
}

.temper-e2-2-ug {
  top: 20.5%;
  right: 18.9%;
  min-width: 70px;
}

.temper-e2-2-sever {
  top: 20.5%;
  right: 3.2%;
  min-width: 70px;
}

.uroven-titan-e2-1 {
  top: 22%;
  right: 36.3%;
}

.uroven-mida-e2-1 {
  top: 22%;
  right: 32%;
}

.uroven-titan-e2-2 {
  top: 22%;
  right: 14.8%;
}

.uroven-mida-e2-2 {
  top: 22%;
  right: 10.5%;
}

.rashod-vody-filtr-text {
  top: 10%;
  left: 47.9%;
  max-width: 100px;
}

.rashod-kanalizacia-text {
  bottom: 36%;
  left: 43.4%;
}

.davlenie-posle-filtrov-text {
  top: 27.5%;
  right: 44%;
  max-width: 100px;
}

.im2-text {
  top: 9.8%;
  right: 32.4%;
}

.carbon-text {
  bottom: 2%;
  right: 14.5%;
}

.k265-text {
  bottom: 2%;
  right: 48%;
}

.k312-text {
  bottom: 2%;
  left: 7%;
}

.temper-e2-1-sever-text {
  top: 17%;
  right: 24.3%;
  max-width: 90px;
}

.temper-e2-1-ug-text {
  top: 17%;
  right: 41.1%;
  max-width: 70px;
}

.temper-e2-2-sever-text {
  top: 17%;
  right: 2.4%;
  max-width: 90px;
}

.temper-e2-2-ug-text {
  top: 17%;
  right: 19%;
  max-width: 71px;
}

.uroven-titan-e2-1-text {
  top: 27%;
  right: 36.4%;
  max-width: 50px;
}

.uroven-mida-e2-1-text {
  top: 27%;
  right: 31%;
  max-width: 50px;
}

.uroven-titan-e2-2-text {
  top: 27%;
  right: 14.8%;
  max-width: 50px;
}

.uroven-mida-e2-2-text {
  top: 27%;
  right: 9.5%;
  max-width: 50px;
}

.davlenie-n4-1 {
  left: 8.5%;
  bottom: 18%;
}

.n4-1-hz {
  left: 8.5%;
  bottom: 21.5%;
}

.davlenie-n4-2 {
  left: 21.3%;
  bottom: 18%;
}

.n4-2-hz {
  left: 21.3%;
  bottom: 21.5%;
}

.davlenie-n5-1 {
  left: 34.2%;
  bottom: 18%;
}

.n5-1-hz {
  left: 34.2%;
  bottom: 21.5%;
}

.davlenie-n5-2 {
  left: 47.1%;
  bottom: 18%;
}

.n5-2-hz {
  left: 47.1%;
  bottom: 21.5%;
}

.davlenie-n6-1 {
  left: 60%;
  bottom: 18%;
}

.n6-1-hz {
  left: 60%;
  bottom: 21.5%;
}

.davlenie-n6-2 {
  left: 72.7%;
  bottom: 18%;
}

.n6-2-hz {
  left: 72.7%;
  bottom: 21.5%;
}

.davlenie-n6-3 {
  left: 85.5%;
  bottom: 18%;
}

.n6-3-hz {
  left: 85.5%;
  bottom: 21.5%;
}

.f3-1-text {
  top: 21.5%;
  left: 7.4%;
}

.f3-2-text {
  top: 21.5%;
  left: 19.7%;
}

.f3-3-text {
  top: 21.5%;
  left: 32%;
}

.f3-4-text {
  top: 50.5%;
  left: 6.6%;
}

.f3-5-text {
  top: 50.5%;
  left: 16.8%;
}

.f3-6-text {
  top: 50.5%;
  left: 26.9%;
}

.f3-7-text {
  top: 50.5%;
  left: 37.2%;
}

.f4-1-text {
  top: 50.5%;
  left: 47.4%;
}

.f4-2-text {
  top: 50.5%;
  left: 57.6%;
}

.f4-3-text {
  top: 50.5%;
  left: 67.8%;
}

.e2-1-text {
  top: 16%;
  right: 34.5%;
}

.e2-2-text {
  top: 16%;
  right: 13%;
}

.n4-1-text {
  left: 2.3%;
  bottom: 21.5%;
}

.n4-2-text {
  left: 15.3%;
  bottom: 21.5%;
}

.n5-1-text {
  left: 28.3%;
  bottom: 21.5%;
}

.n5-2-text {
  left: 41%;
  bottom: 21.5%;
}

.n6-1-text {
  left: 53.9%;
  bottom: 21.5%;
}

.n6-2-text {
  left: 66.5%;
  bottom: 21.5%;
}

.n6-3-text {
  left: 79.4%;
  bottom: 21.5%;
}

.pomeshenie-text {
  left: 0;
  top: 4%;
}

.kanalizacia-text {
  left: 7%;
  bottom: 29.7%;
}

/* Шкалы уровня */

.column {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.column__box {
  position: relative;
}

.column-e2-1 {
  width: 92px;
  height: 88px;
  top: 15.8%;
  right: 31.9%;
  z-index: 0;
}

.column-e2-2 {
  width: 91px;
  height: 88px;
  top: 15.8%;
  right: 10.4%;
  z-index: 0;
}

.column-e2-1__percent-titan {
  width: 100%;
  max-height: 88px;
  background-color: #00bfff;
}

.column-e2-1__percent-mida {
  width: 100%;
  max-height: 88px;
  background-color: #e88aff;
}

.column-e2-2__percent-titan {
  width: 100%;
  max-height: 88px;
  background-color: #00bfff;
}

.column-e2-2__percent-mida {
  width: 100%;
  max-height: 88px;
  background-color: #e88aff;
}


.column__span {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}


/* gifs */
.mnemo__gif {
  position: absolute;
  z-index: 1;
}

.mnemo__gif-img {
  width: 38px;
  height: 34px;
}

.mnemo__gif-pump-1-1 {
  left: 17.1%;
  top: 14.2%;
}

.mnemo__gif-pump-1-2 {
  left: 17.1%;
  top: 20.2%;
}

.mnemo__gif-pump-2-1 {
  bottom: 23%;
  right: 20.4%;
}

.mnemo__gif-pump-2-2 {
  bottom: 17.5%;
  right: 20.4%;
}

/* mnemo gif hvo2 */

.mnemo__gif-pump-4-1 {
  bottom: 18.5%;
  left: 5.3%;
}

.mnemo__gif-pump-4-2 {
  bottom: 18.5%;
  left: 18.1%;
}

.mnemo__gif-pump-5-1 {
  bottom: 18.5%;
  left: 31%;
}

.mnemo__gif-pump-5-2 {
  bottom: 18.5%;
  left: 43.8%;
}

.mnemo__gif-pump-6-1 {
  bottom: 18.5%;
  right: 40.2%;
}

.mnemo__gif-pump-6-2 {
  bottom: 18.5%;
  right: 27.4%;
}

.mnemo__gif-pump-6-3 {
  bottom: 18.5%;
  right: 14.6%;
}

/* ----------------------------------------------------------------------- */

.mnemo__symbols {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 1;
}

.mnemo__symbols-title {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: green;
}

.mnemo__symbols-item {
  display: flex;
  align-items: center;
}

.mnemo__symbols-item:not(:last-child) {
  margin-bottom: 5px;
}

.mnemo__symbols-descr {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  font-style: italic;
}

.mnemo__symbols-name {
  margin-right: 40px;
  width: 20px;
  height: 20px;
  border-radius: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mnemo__symbols-name-1 {
  background-image: url('../images/hvo/mnemo-symbols/1.png');
}

.mnemo__symbols-name-2 {
  background-image: url('../images/hvo/mnemo-symbols/2.png');
}

.mnemo__symbols-name-3 {
  background-image: url('../images/hvo/mnemo-symbols/3.png');
}

.mnemo__symbols-name-4 {
  background-image: url('../images/hvo/mnemo-symbols/4.png');
}

.mnemo__symbols-name-5 {
  background-image: url('../images/hvo/mnemo-symbols/5.png');
}


@media (max-width: 1280px) {
  .mnemo {
    width: 976px;
  }

  .mnemo__img {
    width: 976px;
  }

  .mnemo__param-naimenov,
  .mnemo__param-text {
    font-size: 13px;
    line-height: 13px;
  }

  .mnemo__param-descr {
    font-size: 12px;
    line-height: 16px;
  }

  .mnemo__param {
    padding: 0 3px;
  }

  .mnemo__gif-img {
    width: 30px;
    height: 27px;
  }


  .rashod-na-promyvku-text {
    right: -7px;
  }

  .rashod-na-vhode-text {
    top: 15.5%;
    left: 3.5%;
  }

  .davl-posle-nasosov-1-1-2-3-text {
    top: 3.5%;

  }

  .davl-pered-f3-1-7-text {
    max-width: 65px;
  }

  .davl-posle-nasosov-3-1-2-text {
    max-width: 60px;

  }

  .uroven-e1-1 {
    width: 54px;
    right: 30%;
    bottom: 42%;
  }

  .uroven-e1-2 {
    width: 57px;
    right: 17%;
    bottom: 42%;
    padding: 2px;
  }



  .n1-1-percent {
    width: 45px;
    left: 14.3%;
    top: 12%;
  }

  .n1-1-hz {
    width: 45px;
    left: 20%;
    top: 12%;
  }

  .n1-2-percent {
    width: 45px;
    left: 14.3%;
    top: 18%;
  }

  .n1-2-hz {
    width: 45px;
    left: 20%;
    top: 18%;
  }

  .n2-1-percent {
    width: 45px;
    right: 21.5%;
    bottom: 27.5%;
  }

  .n2-1-hz {
    width: 45px;

    right: 15.5%;
    bottom: 27.5%;
  }

  .n2-2-percent {
    width: 45px;

    right: 21.5%;
    bottom: 21.5%;
  }

  .n2-2-hz {
    width: 45px;

    right: 15.5%;
    bottom: 21.5%;
  }


  .pomeshenie-2-text {
    max-width: 200px;
    font-size: 11px;
    right: 7.5%;
    bottom: 28.8%;
  }

  .kontrol-im-1-text {
    right: 41.5%;
  }

  .mnemo__symbols-title {
    font-size: 20px;
    line-height: 30px;
  }

  .mnemo__symbols-descr {
    font-size: 14px;
    line-height: 20px;
  }

  /* hvo2 media */
  .davlenie-posle-filtrov {
    right: 43.6%;
    min-width: 85px;
  }

  .davlenie-posle-filtrov-text {
    top: 26.5%;
    right: 44%;
    max-width: 78px;
  }

  .im2 {
    min-width: 45px;
  }

  .im2-text {
    top: 9.6%;
  }

  .rashod-vody-filtr {
    min-width: 54px;
  }

  .rashod-vody-filtr-text {
    top: 9.5%;
    left: 46.9%;
    min-width: 85px;
  }

  .mnemo__uroven-text,
  .mnemo__uroven-naimenov {
    font-size: 13px;
    line-height: 13px;
  }

  .temper-e2-1-sever,
  .temper-e2-1-ug,
  .temper-e2-2-sever,
  .temper-e2-2-ug {
    min-width: 51px;
    top: 21%;
  }

  .temper-e2-2-ug {
    right: 19.3%;
  }

  .temper-e2-1-sever {
    right: 25.5%;
  }

  .temper-e2-1-sever-text,
  .temper-e2-2-sever-text {
    max-width: 66px;
    top: 16.4%
  }

  .temper-e2-1-ug-text,
  .temper-e2-2-ug-text {
    max-width: 52px;
    top: 16.4%
  }

  .temper-e2-1-sever-text {
    right: 24.8%;
  }

  .temper-e2-2-ug-text {
    right: 19.3%
  }

  .rashod-kanalizacia {
    min-width: 55px;
  }

  .uroven-titan-e2-1 {
    right: 36%;
  }

  .uroven-mida-e2-1 {
    right: 31.5%;
  }


  .uroven-titan-e2-2 {
    right: 14.4%;
  }

  .uroven-mida-e2-2 {
    right: 10.2%;
  }

  .uroven-titan-e2-1-text,
  .uroven-titan-e2-2-text,
  .uroven-mida-e2-1-text,
  .uroven-mida-e2-2-text {
    max-width: 43px;
  }

  .column-e2-1 {
    top: 15.5%;
    width: 75px;
    height: 75px;
  }

  .column-e2-2 {
    top: 15.5%;
    width: 75px;
    height: 75px;
  }
}