/* fonts */
@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Medium.woff2") format("woff2"), url("../fonts/Bitter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title-reset {
  margin: 0;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}


.mnemo__modal-window::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mnemo__modal-window::-webkit-scrollbar-track {
  background-color: #dfdcdc;
}

.mnemo__modal-window::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 20px;
}

.body {
  margin: 0;
}

.mnemo__title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.mnemo {
  margin-left: 10px;
  position: relative;
  max-width: 1200px;
}

.mnemo__text {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  color: green;
  text-align: center;
  z-index: 1;
}

.current-param__title-span {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.mnemo__img {
  width: 1200px;
}

.mnemo__param {
  padding: 3px 7px;
  position: absolute;
  z-index: 1;
  background-color: rgb(218, 215, 215);
  border-radius: 7px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.mnemo__param-text {
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: blue;
}

.mnemo__param-naimenov {
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: black;
}

.mnemo__param-descr {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: rgba(10, 59, 10);
  text-align: center;
}

/* parameters */
.davl-vhod-ustanivki {
  left: 4%;
  top: 29.5%;
}

.rashod-vody-na-ustanovky {
  left: 4%;
  top: 18%;
}

.davl-posle-nasosov-1-1-2-3 {
  left: 22.5%;
  top: 6%;
}

.uroven-e1-1 {
  width: 57px;
  right: 30.55%;
  bottom: 41%;
  padding: 2px;
}

.uroven-e1-2 {
  width: 57px;
  right: 17.6%;
  bottom: 41%;
  padding: 2px;
}

.rashod-vody-na-promyvky {
  right: 0.5%;
  top: 48%;
}

.davl-posle-nasosov-2-1-2 {
  padding: 2px;
  right: 7.5%;
  bottom: 24.5%;
}

.davl-posle-nasosov-3-1-2 {
  padding: 2px;
  right: 7.5%;
  bottom: 17%;
}

.kontrol-im-1 {
  right: 44%;
  bottom: 51%;
}

.zadanie-uroven-e1-1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 2px;
  width: 31px;
  right: 41.5%;
  bottom: 42%;
}

.n1-1-percent {
  width: 50px;
  padding: 1px 4px;
  left: 14.3%;
  top: 12%;
}

.n1-1-hz {
  width: 57px;
  padding: 1px 4px;
  left: 20.5%;
  top: 12%;
}

.n1-2-percent {
  width: 50px;
  padding: 1px 4px;
  left: 14.3%;
  top: 18%;
}

.n1-2-hz {
  width: 57px;
  padding: 1px 4px;
  left: 20.5%;
  top: 18%;
}

.n2-1-percent {
  width: 57px;
  padding: 0 4px;
  right: 21.5%;
  bottom: 27.5%;
}

.n2-1-hz {
  width: 57px;
  padding: 0 4px;
  right: 15.5%;
  bottom: 27.5%;
}

.n2-2-percent {
  width: 57px;
  padding: 0 4px;
  right: 21.5%;
  bottom: 21.5%;
}

.n2-2-hz {
  width: 57px;
  padding: 0 4px;
  right: 15.5%;
  bottom: 21.5%;
}




/* descriptions */
.pomeshenie-2-text {
  max-width: 200px;
  font-size: 12px;
  right: 8%;
  bottom: 28.8%;
}

.zadanie-uroven-e1-1-2-text {
  right: 41.5%;
  bottom: 38.5%;
  font-size: 14px;
}

.kontrol-im-1-text {
  width: 100px;
  right: 41.5%;
  bottom: 54%;
  font-size: 12px;
}


.f1-1-text {
  left: 33.5%;
  top: 21%;
}

.f1-2-text {
  left: 47.2%;
  top: 21%;
}

.f1-3-text {
  right: 36.5%;
  top: 21%;
}

.f1-4-text {
  right: 22.7%;
  top: 21%;
}

.f2-1-text {
  left: 18%;
  bottom: 43%;
}

.f2-2-text {
  left: 31.5%;
  bottom: 43%;
}

.f2-3-text {
  left: 45%;
  bottom: 43%;
}

.e1-1-text {
  right: 31.8%;
  bottom: 46%;
}

.e1-2-text {
  right: 19%;
  bottom: 46%;
}

.n1-1-text {
  left: 26.5%;
  top: 15.2%;
}

.n1-2-text {
  left: 26.5%;
  top: 21.2%;
}

.n1-3-text {
  left: 26.5%;
  top: 27.2%;
}

.n2-1-text {
  right: 28%;
  bottom: 24.5%;
}

.n2-2-text {
  right: 28%;
  bottom: 19%;
}

.n3-1-text {
  right: 28%;
  bottom: 11.5%;
}

.n3-2-text {
  right: 28%;
  bottom: 6.5%;
}

.rashod-na-promyvku-text {
  right: 0;
  bottom: 52.5%;
  max-width: 72px;
}

.rashod-na-vhode-text {
  top: 16%;
  left: 4%;
}

.davl-vhod-ustanivki-text {
  top: 33%;
  left: 4.5%;
}

.davl-posle-nasosov-1-1-2-3-text {
  top: 4%;
  left: 21%;
}


.davl-pered-f3-1-7-text {
  max-width: 88px;
  bottom: 24.2%;
  right: 0%;
}

.davl-posle-nasosov-3-1-2-text {
  max-width: 72px;
  bottom: 14%;
  right: 0%;
}

/* gifs */
.mnemo__gif {
  position: absolute;
  z-index: 1;
}

.mnemo__gif-img {
  width: 38px;
  height: 34px;
}

.mnemo__gif-pump-1-1 {
  left: 17.1%;
  top: 14.2%;
}

.mnemo__gif-pump-1-2 {
  left: 17.1%;
  top: 20.2%;
}

.mnemo__gif-pump-2-1 {
  bottom: 23%;
  right: 20.4%;
}

.mnemo__gif-pump-2-2 {
  bottom: 17.5%;
  right: 20.4%;
}